.navbar-label {
  color: #354092;
  font-weight: 600;
  font-size: 12px;
}
small {
  color: #d8b638;
  /* font-size: medium; */
}

#name {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 15px;
}

#description {
  display: block;
  box-sizing: border-box;
  text-align: justify;
  width: 100%;
  height: 160px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 15px;
}

#price {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 15px;
}

#submitBtnArticle {
  position: inherit;
  bottom: 0;
  left: 0;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #354092;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 45px;
}

#submitBtnProduct {
  position: inherit;
  bottom: 0;
  left: 0;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #354092;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 45px;
}

#categorySelect {
  border: 1px solid gray;
}

#submitBtnArticle:hover {
  background-color: #d8b638;
}

#submitBtnProduct:hover {
  background-color: #d8b638;
}

.form {
  max-width: 800px;
  margin: 0 auto;
}

/* 354092 */

/* d8b638 */
