

.container{
    height: 100%;
    width: 100%;
}

.h2 {
    margin-top: 50px;
    font-size: 40px;
    color:darkblue;
  }

.h3 {
    margin-top: 50px;
    font-size: 40px;
    color:#D8B638;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 30%;
    height: 30%;
    padding: 0 10px;
    margin: 10px  ;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  } 
  
  .card {
  margin: 10px;
  } 

  .card-h3{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
  }
  
  .card-p1 {
    margin-left: 10px;
    margin-top: 0px;
    text-align: start;
  }

  .card-p2 {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: start;
  }

  .card img {
    position: static;
    width: 100%;
    height: 200px;
    left: 0px;
    top: 0px;
  }

  .button1 {
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    border-color: #D8B638;
    background: none;
    color: #D8B638;
    position: static;
    width: 150px;
    left: 0px;
    top: 0px;
    margin: 10px;
  }

  .button {
    justify-content: center;
    align-items: center;
    padding: 8px 16px;

    background: #354092;
    border-radius: 4.8px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
  }

   /* .section-content {
  height: 100vh;
} */

.quote {
  font-weight: light;
  font-size: 30px;
  text-align: center;
}

.name{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  margin-bottom: 0em;
}

.title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-bottom: 0em;
}

.year{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-bottom: 0em;
}

.section-content-inquire {
  background-image: 
    url("../assets/iofBackground2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  /* height: 70vh; */
}

